.graph-container {
    width: 100%;
    margin-top: 2.5rem;
}

.graph-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #6c757d;
    text-transform: uppercase;
}

@media (max-width:960px) {
    .graph-title {
        font-size: 1rem;
    }
}