* {
  margin: 0;
  box-sizing: border-box;
}

.stats_container {
  display: flex;
}

.left {
  padding: 2rem;
}

.news::-webkit-scrollbar,
.data-table::-webkit-scrollbar {
  display: none;
}

.news {
  height: 50%;
  overflow-y: scroll;
  padding: 15px;
  padding-left: 40px;
  width: 85%;
}

.selectors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #6c757d;
}

.right {
  display: flex;
  flex-direction: column;
  height: 120vh;
  padding: 10px;
}

.data-table {
  height: 50%;
  overflow-y: scroll;
}

.state-table tr:nth-child(odd) {
  background-color: #6c757d;
  color: #fff;
}

.about {
  background-color: #f6f6f7;
}

.precautions {
  background-color: #f6f6f7;
  margin-top: 5rem;
}

.symptoms {
  margin-top: 4rem;
}

.footer {
  min-height: 10vh;
}

.earth-pic {
  height: 150px;
  width: 90px;
  animation: zoominout 2s linear infinite;
}

/* //////////////////////////////Animations /////////////////////////////// */

@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}


/* //////////////////////////////Media queries /////////////////////////////// */
@media (max-width:960px) {
  .news {
    display: none;
  }

  .earth-pic {
    height: 140px;
    width: 70px;
    animation: zoominout 2s linear infinite;
  }

  .title {
    font-size: 1.4rem;
  }

  .heading {
    margin: 0;
  }

  .data-table {
    height: 100%;
  }

  .right {
    height: 50vh;
  }
}